p {
    font-family: Faculty Glyphic;
    font-weight: bold; 
    margin-left: 60px;

}
body {
    
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 800px;
    
    
}
span {
    color: gold;
}